@import url("https://fonts.googleapis.com/css?family=Caesar+Dressing|GFS+Neohellenic&display=swap");
/* font-family: 'Caesar Dressing', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
font-family: 'GFS Neohellenic', sans-serif; */
@import url("https://fonts.googleapis.com/css?family=Stylish&display=swap");
@import url("https://fonts.googleapis.com/css?family=Spectral+SC:200,300,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: linear-gradient(35deg, #a2adb4 40%, #d8c39d 100%);
  margin: 0;
  font-family: "Caesar Dressing", "Segoe UI", Tahoma, Verdana, sans-serif;
  text-align: center;
}
#root {
  width: 100vw;
  height: 100vh;
}

#app-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
svg#bg-texture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header {
  grid-row: 1;
  grid-column: 1/3;
}

h1 {
  margin: auto;
  font-size: 3.5rem;
  letter-spacing: 2rem;
  /* text-shadow: 1px 1px 0px #222; */
  /* color: #555; */
}

#title {
  background: -webkit-linear-gradient(270deg, #12111b 50%, #fff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
  /* -webkit-text-stroke: 0.2px white; */
  font-size: 3.5rem;
}

.center-grid {
  margin: 2vh auto auto auto;
  padding: 10px;
  width: 90vw;
  height: 90vh;
  /* border: 1px solid orangered; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 10vh 1fr 20vh 10vh;
  grid-gap: 10px;
  position: relative;
}
h2,
h3 {
  margin-bottom: 0;
}
.aside-left {
  grid-row: 2;
  grid-column: 1/3;
}
.cloud-display {
  grid-row: 1/3;
  grid-column: 3/-1;
  background: linear-gradient(165deg, #090909 0%, #527785 100%);
  box-shadow: inset 2px 2px 15px 4px rgba(0, 0, 0, 0.5);
}

/**************************/
/*** INPUTS AND SLIDERS ***/
/**************************/

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-width: 0px;
  height: 30px;
  width: 30px;
  /* background: #ffffff; */
  background: orangered;
  background: url("./images/cloud_thumb.svg");

  background-size: contain;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center top;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.7));
}

input[type="range"]::-moz-range-thumb {
  border-width: 0px;
  height: 30px;
  width: 30px;
  background: url("./images/cloud_thumb.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  cursor: pointer;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.7));
}
/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 10px;
  border-radius: 50%;
  background: #ffffff;
  /* background-image: url("./images/cloud_thumb.svg"); */
  cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.4rem;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 0.1rem;
  border: 0.2px solid #010101;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type="range"]::-moz-range-track {
  height: 0.4rem;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 0.1rem;
  border: 0.2px solid #010101;
}
.code-display {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 12px;
  right: 12px;
  /* margin-bottom: 12px; */
  /* margin-right: 12px; */
  grid-row: 3/-1;
  grid-column: 3/-1;
  /* border: 1px solid green; */
}

.annotation {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 100;
  font-size: 3rem;
}
#zeus {
  width: 180px;
  /* float: right; */
  /* border: 1px solid orange; */
  position: absolute;
  bottom: -2vh;
  right: 0;
}

.testing {
  color: #6dc5ab;
  color: #e2846c;
  color: #e0cda4;
  color: #88747a;
  color: #afa4af;
  color: #98a7a2;
  color: #e2846c;
  color: #5a8664;
  color: #85a567;
  color: #ad73ad;
  color: #6dc5ab;
  color: #e2846c;
  color: #5a8664;
  color: #85a567;
  color: #ad73ad;
}
